@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-spotify-green: #1db954;
  --color-spotify-dark: #212121;
  --color-spotify-darker: #121212;
  --color-spotify-gray: #535353;
  --color-spotify-lightgray: #b3b3b3;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: auto;
  background-color: var(--color-spotify-dark);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
